.ask-question{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ask-question-form{
    background-color: white;
    height: 600px;
    width: 800px;
    padding: 20px;
    overflow: scroll;
}


.ask-question-form input{
    width: 500px;
    /* margin-right: 10px; */
    padding: 6px 10px;
    margin: 5px 0;
}

.ask-question-form textarea{
    width: 500px;
    height: 100px;
    padding: 6px 10px;

    margin: 5px 0;
}

.ask-question-form button{
    padding: 7px 3px;
    margin-top: 30px;
}

.question-form form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-question{
    width: 160px;
}

.results{
    color: blue;
}